* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(28, 28, 54, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
}

.flex {
  display: flex;
}

.wrapper {
  width: 600px;
  height: 700px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px 30px;
  flex-direction: column;
  row-gap: 50px;
}

.inputs {
  column-gap: 20px;
  width: 100%;
  color: #dddddd;
}

.inputs-number {
  height: 20px;
  padding-left: 10px;
  background-color: #dddddd;
  width: 100%;
}

.game-form-wrapper {
  justify-content: space-between;
}

.game-input {
  width: 60%;
  row-gap: 40px;
}

.input-wrapper {
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  background-color: #dddddd;
}

.input-label {
  position: absolute;
  top: 0;
  transform: translateY(-110%);
  color: #dddddd;
  left: 10px;
  font-size: 20px;
}

.input-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 18px;
}

.warning {
  position: absolute;
  bottom: -5px;
  transform: translateY(100%);
  color: #ff3e3e;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.warning.active {
  display: block;
  opacity: 1;
}

.send {
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 40px;
  font-size: 18px;
}

button:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

#results-numbers {
  flex-direction: column;
  row-gap: 15px;
  height: 80%;
  overflow-y: auto;
}

.previous {
  color: #dddddd;
  font-size: 23px;
}

.previous.green {
  color: green;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(40, 42, 66);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  row-gap: 35px;
}

.menu.active {
  display: flex;
}

.menu-header {
  font-size: 28px;
  line-height: 175%;
}

.menu-score {
  font-size: 21px;
}

.steps {
  color: green;
}

.menu-button {
  height: 45px;
  padding: 10px 45px;
  background-color: #dddddd;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    height: 100%;
    border: none;
    row-gap: 50px;
    padding: 20px 10px;
  }

  .game-form-wrapper {
    flex-direction: column;
    row-gap: 25px;
  }

  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .game-input {
    width: 100%;
  }

  #results-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 100%;
    list-style-type: none;
  }
}
